<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HubWatch - Help Keep Your Neighborhood Safe</title>
		<link rel="stylesheet" href="css/styles.css" />
		
		<% if(user && isRegistered) {%>
			<script src="../scripts/chat.js" defer></script>
			<script src="../scripts/home.js" defer></script>
		<%}%>

		<style>
			#notification-icon {
				z-index: 50; /* Keeps the icon on top */
			}

			#notification-list {
				z-index: 40; /* Lower than the icon */
	
			}


		</style>

		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
	</head>

	<body class="bg-gray-100 text-gray-900 relative">
		<div
			class="chat-container show bg-black bg-opacity-100 absolute top-0 left-0 bottom-0 right-0 hidden"
		>
			<main
				class="chat-box bg-gray-100 p-4 overflow-y-auto flex-grow flex mt-24 fixed right-20 left-20 bottom-0 top-0"
			>
				<aside class="chat-member hidden md:block p-2.5 overflow-auto">
					<div class="searchbar-container bg-white fixed">
						<h2 class="chat-room font-semibold mb-3 text-gray-400">
							Neighbor's Chat
						</h2>
						<div
							class="input-wrapper border-2 border-t-0 border-l-0 border-r-0"
						>
							<input
								type="text"
								placeholder="Search group member"
								class="p-2 outline-none placeholder:text-lg w-full"
							/>
						</div>
					</div>

					<div class="group-members">
						<div
							class="member-wrapper flex items-center hover:bg-gray-600 cursor-pointer mt-5"
						>
							<img
								class="profile w-10 h-10 rounded-full object-cover mr-3"
								src="../profile.jpg"
								alt="profile-image"
							/>
							<span class="member font-semibold">Abraham Dukuly</span>
						</div>
					</div>
				</aside>

				<section class="chat-message flex-1 p-2.5">
					<section class="chat-message-holder ml-10 overflow-auto p-5">
						<div class="message-top flex flex-col">
							<div class="flex items-end">
								<img
									class="w-10 h-10 rounded-full object-cover mr-3"
									src="../profile.jpg"
									alt="profile-image"
								/>
								<span
									class="message text-sm md:text-lg bg-gray-200 text-black px-3 py-2 rounded-lg max-w-72"
									>Lorem ipsum dolor sit, non?</span
								>
							</div>
							<div class="timestamp text-gray-400">1 hour ago</div>
						</div>

						<div
							class="message-button-wrapper flex border border-gray-500 bg-white p-2 fixed bottom-6 right-24 left-96 items-center flex-grow"
						>
							<textarea
								class="flex-grow bg-gray-200 mx-3 rounded-2xl font-semibold font-sans resize-none outline-none pl-5 py-auto"
								type="text"
								placeholder="Type a message"
								name="message"
							></textarea>
							<button
								class="text-white text-sm bg-blue-500 px-5 rounded-md focus:cursor-pointer focus-within:opacity-80"
							>
								Send
							</button>
						</div>
					</section>
				</section>
			</main>
		</div>

		<div class="home-page-container">
			<!-- Header -->
			<%- include('includes/header') %>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>HubWatch - Help Keep Your Neighborhood Safe</title>
	<link rel="stylesheet" href="css/styles.css" />
	<script src="../scripts/home.js" defer></script>


	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body class="bg-gray-100 text-gray-900 relative">

			<% if (user && hasAlerted) { %>
			<div id="notification-icon" class=" fixed top-20 left-5 bg-red-500 text-white p-2 rounded-full shadow-lg cursor-pointer transition-transform transform hover:scale-105">
			🛎️
			<span id="notification-count" class="absolute top-0 right-0 bg-red-600 text-white rounded-full text-xs font-bold px-1"><%= notificationCount %></span>
			</div>
			<% } %>
			<!-- Notification List -->
			<div id="notification-list" class="hidden fixed top-20 left-5 bg-white border border-gray-300 rounded-lg shadow-lg p-4 max-h-[calc(100vh-100px)] overflow-y-auto w-80 ">
				<h4 class="font-bold mb-2 text-lg">Reported Incidents</h4>
				<div id="incident-list" class="grid grid-cols-1 gap-4">
					<!-- Each incident will be inserted here -->
				</div>
				<button id="back-home-button" class="mt-2 bg-red-500 text-white rounded p-2 hover:bg-red-700">Back Home</button>
			</div>
			<!-- header end -->

			<section
				class="bg-cover bg-center h-96"
				style="
					background-image: url(https://media.istockphoto.com/id/641925028/photo/crime-scene-tape-with-blurred-forensic-in-cinematic-tone.jpg?s=1024x1024&w=is&k=20&c=hCI5dciAEwRQCyB9wBg2SFLNNM-LKHZfvnaPup33-Ww=);
				"
			>
				<div
					class="bg-black bg-opacity-50 h-full flex justify-center items-center"
				>
					<div class="text-center text-white">
						<h2 class="text-4xl font-bold mb-4">
							Help Keep Your Neighborhood Safe
						</h2>
						<p class="text-xl mb-6">
							Report incidents, track community safety, and stay informed with
							VigilWatch.
						</p>
						<a
							id="alert-button"
							href="/"
							class="bg-red-600 hover:bg-red-700 text-white font-bold py-3 px-6 rounded-lg <%= hasAlerted ? 'bg-gray-600 cursor-not-allowed' : '' %>"
							<%= hasAlerted ? 'disabled' : '' %>
							><%= hasAlerted ? 'Disable Alert' : 'Get Alert' %> <i class="fas fa-exclamation-triangle"></i>
						</a>
						
					</div>
				</div>
			</section>

			<!-- Our Features Section  -->
			<section class="py-16">
				<div class="container mx-auto px-4 text-center">
					<h2 class="text-3xl font-bold mb-12">Our Features</h2>
					<div class="grid md:grid-cols-3 gap-8">
						<div class="bg-white p-6 shadow-lg rounded-lg">
							<h3 class="text-xl font-semibold mb-4">
								The Effectiveness of Restorative Justice Programs
							</h3>
							<img
								src="https://media.istockphoto.com/id/1470210460/photo/justice.jpg?s=1024x1024&w=is&k=20&c=J72OTMzk11lXhJ0zm3rDgYHkQUObkXI0bVayxTn0Cfw="
								alt=""
								srcset=""
							/>
							<p>
								Crime refers to activities that violate the laws established by
								a governing authority and are punishable by legal sanctions.
							</p>
						</div>

						<div class="bg-white p-6 shadow-lg rounded-lg">
							<h3 class="text-xl font-semibold mb-4">
								The Role of Technology in Crime Prevention
							</h3>
							<img
								src="https://media.istockphoto.com/id/474088166/photo/police-officer-pulled-over-driver-for-traffic-violation.jpg?s=1024x1024&w=is&k=20&c=tSr7kh6n9JdcqNerdCQypQrUHH7SpucIUm55IzoGjRo="
								alt=""
								srcset=""
							/>
							<p>
								Crime is defined as an act that breaches established laws and
								regulations, leading to legal consequences for the offender.
							</p>
						</div>

						<div class="bg-white p-6 shadow-lg rounded-lg">
							<h3 class="text-xl font-semibold mb-4">
								The Impact of Community Policing on Crime Reduction
							</h3>
							<img
								src="https://media.istockphoto.com/id/1166697314/photo/detective-board-with-photos-of-suspected-criminals-crime-scenes-and-evidence-with-red-threads.jpg?s=1024x1024&w=is&k=20&c=-3Q0nUuutEZCshSat30OzeEK-DtrypqJHN2Ze1tX0nM="
								alt=""
								srcset=""
							/>
							<p>
								he repercussions of crime are far-reaching, impacting not only
								the direct victims but also the broader community by fostering
								fear and instability.
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Chat Icon -->
			<%- include('includes/chatIcon')%>
			<!-- chat Icon End -->

			<!-- Footer -->
			<%- include('includes/footer')%>
			<!-- Footer End -->
		</div>

		<script>
	

			document.getElementById('alert-button').addEventListener('click', function() {
				const isAlerted = this.textContent.includes('Disable Alert');

				// Update button text and style
				if (isAlerted) {
					this.textContent = 'Get Alert';
					this.classList.remove('bg-gray-600');
					this.classList.add('bg-red-600');
					this.classList.add('hover:bg-red-700');
					this.classList.remove('cursor-not-allowed');
					// Send request to backend to disable alert
					fetch('/disable-alert', { method: 'POST' });
				} else {
					this.textContent = 'Disable Alert';
					this.classList.remove('hover:bg-red-700');
					this.classList.add('bg-gray-600');
					this.classList.add('cursor-not-allowed');
					// Send request to backend to enable alert
					fetch('/set-alert', { method: 'POST' });
				}

				// Toggle notification icon based on alert status
				const notificationIcon = document.getElementById('notification-icon');
				notificationIcon.style.pointerEvents = isAlerted ? 'none' : 'auto';
			});

					// Handle notification icon click
		document.getElementById('notification-icon').addEventListener('click', function() {
			const notificationList = document.getElementById('notification-list');
			notificationList.classList.toggle('hidden');

			if (!notificationList.classList.contains('hidden')) {
				fetch('/get-reported-incidents')
					.then(response => response.json())
					.then(data => {
						const incidentList = document.getElementById('incident-list');
						incidentList.innerHTML = ''; // Clear existing items
						data.incidents.forEach(incident => {
							const card = document.createElement('div');
							card.className = 'bg-white border border-gray-200 rounded-lg shadow-md p-4 flex flex-col';

							const img = document.createElement('img');
							img.src = incident.image_path || 'https://via.placeholder.com/150'; // Default image if none provided
							img.alt = 'Incident Image';
							img.className = 'w-full h-32 object-cover rounded-lg mb-2';

							const info = document.createElement('div');
							info.className = 'flex flex-col justify-between';

							const location = document.createElement('h5');
							location.className = 'text-lg font-semibold mb-1';
							location.textContent = `Location: ${incident.location}`;

							const description = document.createElement('p');
							description.className = 'text-gray-700 mb-1';
							description.textContent = `Description: ${incident.description}`;

							const type = document.createElement('p');
							type.className = 'text-gray-700 mb-1';
							type.textContent = `Incident Type: ${incident.incident_type}`;

							const date = document.createElement('p');
							date.className = 'text-gray-700';
							const formattedDate = new Date(incident.incident_date); 
							const options = { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
							const formattedDateTime = formattedDate.toLocaleDateString('en-US', options); 
							date.textContent = `Date: ${formattedDateTime}`;

							info.append(location, description, type, date);
							card.append(img, info);
							incidentList.appendChild(card);
						});

						// Reset the notification count when viewing incidents
						document.getElementById('notification-count').textContent = '0';
					});
			}
		});


			// Back Home Button functionality to take us back to home
			document.getElementById('back-home-button').addEventListener('click', function() {
				const notificationList = document.getElementById('notification-list');
				notificationList.classList.add('hidden');
			});

		</script>
	</body>
</html>
